#header
{
color: red;	
}

.backendvalue
{
color: blue;	
}

.searchhelp
{
	color:#2D5AC3;
	font-weight:normal;		
	margin-bottom:10px;
	font-style:italic;
}


#sf_admin_container ul li.sf_admin_action_opendir a
{
  background: url(../images/opendir.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_updir a
{
  background: url(../images/updir.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_archive a
{
  background: url(../images/archive.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_show a
{
  background: url(../images/asset_show.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_search a
{
  background: url(../images/search.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_binders a
{
  background: url(../images/binders.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_assets a
{
  background: url(../images/assets.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_sources a
{
  background: url(../images/sources.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_download a
{
  background: url(../images/download.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_help a
{
  background: url(../images/help.png) no-repeat 0 0;
}
